* {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

body {
  border: 1px solid red;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-wrapper {
  padding: 20px;
  border: 1px solid #ddd;
}

.form-wrapper .row {
  margin: 10px 0;
}

.form-wrapper .row>label {
  display: inline-block;
  min-width: 4em;
}

.form-wrapper .row:last-child {
  text-align: center;
}

.form-wrapper .row:last-child>input {
  padding: 5px 10px;
}